[submodule "bundle/AutoTag"]
	path = bundle/AutoTag
	url = https://github.com/vim-scripts/AutoTag.git

[submodule "bundle/Command-T"]
  path = bundle/Command-T
  url = https://github.com/vim-scripts/Command-T.git

[submodule "bundle/L9"]
	path = bundle/L9
	url = https://github.com/vim-scripts/L9.git

[submodule "bundle/SimpylFold"]
	path = bundle/SimpylFold
	url = https://github.com/vim-scripts/SimpylFold.git

[submodule "bundle/SkyBison"]
	path = bundle/SkyBison
	url = https://github.com/paradigm/SkyBison.git 

[submodule "bundle/UltiSnips"]
	path = bundle/UltiSnips
	url = https://github.com/vim-scripts/UltiSnips.git

[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git

[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git

[submodule "bundle/sparkup"]
	path = bundle/sparkup
	url = https://github.com/rstacruz/sparkup.git

[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git

[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git

[submodule "bundle/vim-flake8"]
	path = bundle/vim-flake8
	url = https://github.com/vim-scripts/vim-flake8.git

[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git

[submodule "bundle/vim-multicursor"]
	path = bundle/vim-multicursor
	url = https://github.com/paradigm/vim-multicursor.git

[submodule "bundle/vundle"]
	path = bundle/vundle
	url = https://github.com/gmarik/vundle.git

[submodule "misc/powerline-fonts"]
	path = misc/powerline-fonts
	url = git://github.com/Lokaltog/powerline-fonts.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/pydoc"]
	path = bundle/pydoc
	url = https://github.com/fs111/pydoc.vim.git
[submodule "bundle/py.test"]
	path = bundle/py.test
	url = https://github.com/alfredodeza/pytest.vim.git
[submodule "bundle/makegreen"]
	path = bundle/makegreen
	url = https://github.com/reinh/vim-makegreen
[submodule "bundle/tasklist"]
	path = bundle/tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule "bundle/ropevim"]
	path = bundle/ropevim
	url = https://github.com/sontek/rope-vim.git
[submodule "bundle/pyflakes-pathogen"]
	path = bundle/pyflakes-pathogen
	url = https://github.com/mitechie/pyflakes-pathogen.git
